.container {
    background-color: #f1f1f1;
    padding: 20px;
    margin-top: 10px;
}
.sticky {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 500;
}
.sticky + .container {
    margin-top: 100px;
}
a.navbar-brand{
    max-width: 100px;
    padding-left: 30px;
    font-weight: bold;
    font-size: 30px;
    font-family:cursive Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

.navbar.scrolled .nav-link {
    color:#343a40!important;
    /*background-color: black;*/
}
.nav-link{
    padding: 0px;
}
b.nav-link{
    padding: 0px;
}

@media screen and (max-width: 600px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

* {
    box-sizing: border-box;
}
