#navbar{
    
    overflow: hidden;
}
.sticky {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 500;
}
.sticky + .content {
    padding-top: 60px;
}
.container {
    background-color: #f1f1f1;
    padding: 20px;
    margin-top: 20px;
}

a.navbar-brand{
    max-width: 100px;
    padding-left: 30px;
    font-weight: bold;
    font-size: 30px;
    font-family:cursive Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

/* Style the submit button */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
}


/* Style the container for inputs */

/* The message box is shown when the user clicks on the password field */
#passwordMessage {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 15px;
}

#passwordMessage p {
    padding: 0px 0px;
    font-size: 14px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -10px;
    content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -10px;
    content: "✖";
}
.col-form-label:after {
    content:" *";
    color: red;
}